<launch>
    <!-- Using tbot_bringup start.launch -->
    <include file="$(find tbot_bringup)/launch/start.launch"/>

    <!-- velocity commands multiplexer -->
    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
    </node>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-moutarde)/src/launch/config_ch3.rviz" />
    
    <!-- gmapping -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan" />

    <!-- détection -->
    <node name="bottle_detector" pkg="grp-moutarde" type="bottle_detector.py" output="screen" />

    <!-- mouvement -->
    <node name="explorer" pkg="grp-moutarde" type="explorer.py" output="screen" />
</launch>
