<launch>
    <!-- Using tbot_bringup start.launch -->
    <include file="$(find larm)/launch/challenge-1.launch"/>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-moutarde)/src/launch/config_ch3_sim.rviz" />
    
    <!-- gmapping -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan" />

    <!-- mouvement -->
    <node name="explorer" pkg="grp-moutarde" type="explorer.py" output="screen" />

    <!-- Navigation using MoveBase 
    <node name="move_base" pkg="move_base" type="move_base">
        <rosparam file="$(find grp-moutarde)/src/costmap_sim.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find grp-moutarde)/src/costmap_sim.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find grp-moutarde)/src/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find grp-moutarde)/src/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find grp-moutarde)/src/base_local_planner_params.yaml" command="load" />
        <remap from="/cmd_vel" to="/cmd_vel_mux/input/navi" />
    </node>
    -->
</launch>