<launch>
    <!--<param name="/use_sim_time" value="true"/>-->

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-moutarde)/src/launch/fichier_rviz.rviz" />
    
    <!-- gmapping -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan" />

    <!-- détection -->
    <!--<node name="détec_b" pkg="grp-moutarde" type="scanop.py" output="screen" />-->
    <node name="img_detect" pkg="image_view" type="image_view" args="image:=image_detection" />

</launch>
