<launch>
    <!-- <param name="/use_sim_time" value="true"/> -->

    <!-- lancement robot -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

    <!-- laser -->
    <node name="laser" pkg="urg_node" type="urg_node"/>
    <node name="link_laser" pkg="tf" type="static_transform_publisher" args="0.1 0 0 0 0 0 base_footprint laser 100"/>

    <!-- caméra -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true" />
    </include>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-moutarde)/src/launch/config_ch3.rviz" />
    
    <!-- gmapping -->
    <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=scan" />

    <!-- détection -->
    <!--<node name="bottle_detector" pkg="grp-moutarde" type="bottle_detector.py" output="screen" />-->

    <!-- mouvement -->
    <!--<node name="explorer" pkg="grp-moutarde" type="explorer.py" output="screen" />-->

</launch>
