<launch>
    <!-- démarrer la simulation dans Gazebo et ajouter un robot -->
    <include file="$(find larm)/launch/challenge-1.launch" />

    <!-- contrôle du robot -->
    <node name="controle" pkg="groupe-moutarde" type="teleop3.py" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find groupe-moutarde)/launch/fichier_rviz.rviz" />
</launch>
